.main-container {
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f4;
  }
  
  .outer-sidebar {
    width: 170px;
    height: 1024px;
    padding: 15px 15px 49px 15px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1200;
    background-color: #111827;
    border-right: 1px solid #F4F4F4;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .inner-sidebar {
    width: 173px;
    height: 868px;
    display: flex;
    flex-direction: column;
    gap: 240px;
  }
  
  .text-menu-container {
    width: 173px;
    height: 299px;
    gap: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    flex-grow: 1;
    margin-left: 203px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .nav-container {
    position: sticky;
    top: 0;
    z-index: 1100;
    width: 100%;
  }
  
  .content-area {
    flex-grow: 1;
    padding: 24px;
    background-color: #f4f4f4;
    height: calc(100vh - 64px);
    overflow-y: auto;
  }